/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

.scribe
/.vagrant

/public/upload
/public/uploads/business_logos
/public/uploads/documents
/public/uploads/img
/public/uploads/invoice_logos
/public/uploads/media
/public/uploads/product
/public/uploads/recruitments
/public/uploads/service_education
/public/uploads/service_property
/public/uploads/service_room
/public/uploads/business_location
/public/uploads/temp
/public/uploads/UltimatePOS
/public/uploads/uploads

/public/uploads/news
/public/uploads/messages
/public/uploads/lead_campaign_details